body {
    background-color: rgb(243, 243, 243);
}

.pageContainer {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
}

.boardContainer {
    display: grid;
    grid-template: repeat(3, 200px) / repeat(3, 200px);
    background-color: rgb(88, 89, 177);
    border-radius: 24px;
    padding: 16px;
    justify-content: center;
    margin: 4px;
}

.tile {
    background-color: rgb(109, 116, 219);
    text-align: center;
    font-size: 180px;
}

.t4 {
    border: solid black 4px;
}

.t1, .t7 {
    border-left: solid black 4px;
    border-right: solid black 4px;
}

.t3, .t5 {
    border-top: solid black 4px;
    border-bottom: solid black 4px;
}